[Unit]
Description=Sushi DAW
After=load-drivers.service
ConditionPathExists=/dev/audio_evl

[Service]
Type=simple
RemainAfterExit=yes
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitSTACK=infinity
WorkingDirectory=/udata/
Environment=LV2_PATH=/udata/plugins/lv2:/usr/lib/lv2
ExecStart=/usr/bin/sushi --multicore-processing=2 -r -c /udata/pedalboard-audio/sushi.json -l info --log-flush-interval=60
User=mind
ExecStartPost=/bin/sleep 3
ExecStartPost=/usr/bin/aconnect 16:0 128:0

[Install]
WantedBy=multi-user.target

