[Unit]
Description=Sushi DAW
After=load-drivers.service
ConditionPathExists=/dev/rtdm/audio_rtdm

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/udata/
Environment=LV2_PATH=/home/mind/plugins/mda-lv2/:/udata/plugins/lv2:/usr/lib/lv2
Environment=LD_LIBRARY_PATH=/usr/xenomai/lib
ExecStart=/usr/bin/sushi --multicore-processing=2 -r -c /udata/pedalboard-audio/sushi.json -l info --log-flush-interval=60
User=mind
ExecStartPost=/bin/sleep 3
ExecStartPost=/usr/bin/aconnect 16:0 128:0

[Install]
WantedBy=multi-user.target

